{% extends 'base_restaurateur_page.html' %}
{% load admin_urls %}

{% block title %}Необработанные заказы | Star Burger{% endblock %}

{% block content %}
  <center>
    <h2>Необработанные заказы</h2>
  </center>

  <hr/>
  <br/>
  <br/>
  <div class="container">
   <table class="table table-responsive">
    <tr>
      <th>ID заказа</th>
      <th>Статус</th>
      <th>Способ оплаты</th>
      <th>Стоимость</th>
      <th>Клиент</th>
      <th>Телефон</th>
      <th>Адрес доставки</th>
      <th>Комментарий</th>
      <th>Рестораны</th>
      <th>Ссылка на админку</th>
    </tr>

    {% for el in context_data %}
      <tr>
        <td>{{ el.order.id }}</td>
        <td>{{ el.order.get_status_display }}</td>
        <td>{{ el.order.get_payment_method_display }}</td>
        <td>{{ el.order.total_sum }}</td>
        <td>{{ el.order.firstname }} {{ el.order.lastname }}</td>
        <td>{{ el.order.phonenumber }}</td>
        <td>{{ el.order.address }}</td>
        <th>{{ el.order.comment }}</th>
        <th> {{ el.rests_info }}</th>
        <td><a href=" {% url 'admin:foodcartapp_order_change' object_id=el.order.id %}?next={{ request.get_full_path|urlencode }} ">
          Редактировать заказ {{ el.order.id }}</a></td>
      </tr>
    {% endfor %}
   </table>
  </div>
{% endblock %}
